@page
@using Models
@model ChatModel
@{
    Layout = null;
    Grupo grupo = ViewData["Grupo"] as Grupo;
    List<MensajeDominio> misMensajes = ViewData["MisMensajes"] as List<MensajeDominio>;
    Typer typer = ViewData["TyperEnSesion"] as Typer;
}

<div class="chat-container">
    <div class="chat-header">
        <h4 class="chat-title">@Model.Grupo.Nombre</h4>

        <h4 class="chat-description">@Model.Grupo.Descripcion</h4>
        <div class="dropdown dropleft group-options">
            <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Opciones">
                <i class='bx bx-menu bx-md bx-tada-hover'></i>
            </a>
            <br>
            <div class="dropdown-menu">
                <a class="dropdown-item" style="cursor: pointer;" onclick="mostrarAgregarIntegrantesDialog(@Model.Grupo.IdGrupo, '@Model.TyperEnSesion.IdTyper')">
                    <i class='bx bxs-user-plus' style="color: #D30000;"></i>&nbsp;&nbsp;Nuevo integrante
                </a>
                <a class="dropdown-item" style="cursor: pointer;">
                    <i class='bx bx-info-circle' style="color: #D30000;"></i>&nbsp;&nbsp;Info del grupo
                </a>
                <a class="dropdown-item" style="cursor: pointer;">
                    <i class='bx bx-exit' style="color: #D30000;"></i>&nbsp;&nbsp;Salir del grupo
                </a>
                <a class="dropdown-item" style="cursor: pointer;">
                    <i class='bx bx-x-circle' style="color: #D30000;"></i>&nbsp;&nbsp;Cerrar chat
                </a>
            </div>
        </div>
    </div>

    <div class="chat-messages" id="chat-messages" onscroll="verificarScroll()">
        

        <ul id="listaMensajes" style="list-style-type: none;">
            @if(Model.MisMensajes != null && Model.TyperEnSesion != null) {
                @foreach (var mensaje in Model.MisMensajes)
                {
                    @if (mensaje.Typer.Username.Equals(Model.TyperEnSesion.Username))
                    {
                        <li>
                            <div class="chat-sent-message">
                                <h1>@mensaje.Typer.Username</h1>
                                @if(!String.IsNullOrEmpty(mensaje.IdMultimedia))
                                {
                                    <img src="@mensaje.IdMultimedia">
                                }
                                <p>@mensaje.Contenido</p>
                                <span>@mensaje.Hora</span>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="chat-received-message">
                                <h1>@mensaje.Typer.Username</h1>
                                @if(!String.IsNullOrEmpty(mensaje.IdMultimedia))
                                {
                                    <img src="@mensaje.IdMultimedia">
                                }
                                <p>@mensaje.Contenido</p>
                                <span>@mensaje.Hora</span>
                            </div>
                        </li>
                    }
                }
            }
            else {
                <p>No hay mensajes en el grupo. Envía uno nuevo.</p>
            }
        </ul>

       
        <a id="irAbajoIcon" type="button" class="irAbajoIcon" onclick="irAlFinalDelChat()">
            <i class='bx bxs-chevron-down-circle bx-md' style="color: #D30000;"></i>
        </a>

        

    </div>

    <div class="card-footer chat-footer" id="chat-footer">
        <div class="dropdown dropup chat-multimedia">
            <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Adjuntar">
                <i class='bx bx-paperclip bx-sm bx-border-circle bx-tada-hover' style="color: #D30000; transform: rotate(135deg);"></i>
            </a>
            <br>
            <div class="dropdown-menu">
                <input type="file" id="files" style="display: none;"/>
                <a class="dropdown-item" type="button" onclick="seleccionarArchivo()">
                    <i class='bx bx-file' style="color: #D30000;"></i>&nbsp;&nbsp;Archivo
                </a>

                <input type="file" id="images" style="display: none;" accept="image/*"/>
                <a class="dropdown-item"  type="button" onclick="seleccionarImagen()">
                    <i class='bx bxs-image' style="color: #D30000;"></i>&nbsp;&nbsp;Imagen
                </a>

                <input type="file" id="videos" style="display: none;" accept="video/mp4,video/x-m4v,video/*"/>
                <a class="dropdown-item" type="button" onclick="seleccionarVideo()">
                    <i class='bx bxs-video' style="color: #D30000;"></i>&nbsp;&nbsp;Vídeo
                </a>
            </div>

            <div id="fileInformationContainer" style="display: none;">
                <span id="fileName" class="fileName">&nbsp;</span>
                <a type="button" onclick="eliminarArchivoSeleccionado()" class="deleteFileButton"><i class="bx bx-x" style="color: #D30000;"></i></a>
            </div>
        </div>
        
        <textarea id="mensaje" class="chat-input" placeholder="Escribe un mensaje" rows="5"></textarea>

        <a type="button" class="chat-send" onclick="enviarMensaje('@typer.IdTyper')">
            <i class='bx bx-send bx-sm bx-border-circle' 
            style="color: #D30000;"></i>
        </a>
    </div>

</div>

<div class="modal fade" id="agregarIntegrantesDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #D30000;">
        <h5 class="modal-title" id="agregarIntegrantesDialogTitle" style="color: white;">Agregar integrantes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h6>Selecciona el/los nuevo(s) integrante(s)</h6>

          <div id="listaContactosIntegrantes" >
              <div class="loader" id="loader"></div>
          </div>
      </div>
      <div class="modal-footer">
        <button id="botonCancelarAgregacion" type="button" class="btn btn-danger" style="width: 100px; padding: 10px;"
        data-dismiss="modal" data-dismiss="modal">Cancelar</button>

        <button id="botonAgregarContacto" type="button" class="btn btn-danger" 
            style="width: 150px; padding: 10px;">Agregar</button>
      </div>
    </div>
  </div>
</div>


@section Scripts {
    
}



<link rel="stylesheet" href="~/css/chat.css" />